@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Space Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Space Mono', monospace;
}

@layer components{
  .button-per{
    @apply hover:bg-lightGrayishCyan hover:text-veryDarkCyan p-3 font-extrabold rounded-md bg-veryDarkCyan text-white text-2xl;
  }
  .active{
    @apply bg-white text-veryDarkCyan;
  }
}